@model IEnumerable<Shop.Model.Product>
@{
    ViewData["Title"] = "Интернет - магазин";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table-condensed">
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
    <tr>
        <td>@phone.ProductCategory</td>
        <td>@phone.ProductCompany</td>
        <td>@phone.ProductCount</td>
        
        <td><a href="~/Home/Buy/@phone.ProductId">Купить</a></td>
    </tr>
        }
    </table>